@font-face {
  font-family: rubik;
  src: url(../font/Rubik-VariableFont_wght.woff2);
}

body {
  font-family: rubik, sans-serif;
  box-sizing: border-box;
}
section {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
}

article {
  border: 1px solid #ccc;
  padding: 1rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  width: clamp(300px, 45%, 400px);
  flex: 1;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
.svg-container-embed {
  width: 20vw;
  overflow: hidden;
}
.svg-container-file {
  width: 20vw;
  overflow: hidden;
}

.svg-container-file #hotspot_orange:hover {
  filter: brightness(120%);
}
.svg-container-file #hotspot_green:hover {
  filter: brightness(130%);
}
.svg-container-file #hotspot_yellow:hover {
  filter: brightness(130%);
}
#circle-hotspot1,
#circle-hotspot2,
#circle-hotspot3 {
  transition: fill 0.3s ease;
  fill: white;
  stroke: black;
}
#circle-hotspot1:hover {
  fill: orange;
  cursor: pointer;
}
#circle-hotspot2:hover {
  fill: green;
  cursor: pointer;
}
#circle-hotspot3:hover {
  fill: yellow;
  cursor: pointer;
}
.invisible {
  display: none;
}
.pointed {
  scale: 1.01;
  transform-origin: center;
}
.chosen {
  filter: brightness(130%);
}
.active {
  background-color: rgb(255, 255, 255);
}
.textarea {
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-top: 1rem;
  white-space: pre-wrap;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
